
{% extends "base.html" %}

{% block content %}

    <div>
        <h1>Rock, Paper, Scissors!</h1>
        <h2>Rules</h2>
        <p>
            There are two players.
            Each player chooses one of three options, rock paper or scissors.
            Rock beats scissors, paper beats rock and scissors beat paper.
            Submit your choices to reveal the winner!
        </p>

        <a href="/play">2 players</a> <br>
        <a href="/play-computer">Play against the computer</a>
    </div>

{% endblock %}